
<div class="row">
  <div class="col-md-4 offset-md-4 mt-3">
    <div class="guest-form-card card">
      <div class="card-header text-center">
        <h2 style="color: blue">Login</h2>
      </div>

      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" formControlName="email">

          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
          <button class="btn btn-primary btn-block" [disabled]="loginForm.invalid">login</button>
        </form>
      </div>
    </div>
  </div>
</div>

