<header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px" class="fa-solid fa-shop ms-2"></i>

      <strong style="font-size: 30px "
        ><a routerLink="/products" class="route-link ms-3">Solid Electron</a></strong
      >
      <div class="form-group ms-3">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
      </div>
    </div>

    <div class="btn">
      <button routerLink="/register" class="ms-2 btn btn-outline-light">signup</button>

      <button routerLink="/login" class="ms-2 btn btn-outline-light">login</button>

    <button routerLink="/cart" class="btn btn-primary">
      <i style="font-size: 30px" class="fa-solid fa-dumpster"></i>

      <div style="font-size: 10px" class="badge bg-danger">
        {{ countProducts$ | async }}
      </div>
    </button>
  </div>
</div>
</header>

